@brand-primary-color: #943a4a;
@select-nav-color: #888888;
@gray-base: #fff;
@font-color-gray: #7b7b7b;
@border-color: #a3a3a3;
@pointed-color: #deacac;
@panel-blue: #0082a2;
@panel-gray: #787979;
@panel-moutarde: #888604;
@panel-wine: #943a4a;
@panel-purple: #665c76;
@border-alies: #e7e7e7;
@bk-first-footer: #555555;
@bk-second-footer: #373636;
@bk-our-team: #888888;
@charge-our-team: #dfd5f3;
@font-change-color: #9a9a9a;
@font-news-color: #a4adad;
@title-new: #00a4c5;
@color-pub-title: #6d657d;