@import './less/colors.less';

.sin-faqs{ 
	color:@bk-our-team;
	h2{
		font-size: 1.400em;
		color: @panel-wine;
		margin-bottom:1.5em
	}
	

    .row{
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid;
        border-color: @font-news-color;
    }
	
	
	.panel-default .panel-heading{ background:url('./images/bg-faq-1.png') no-repeat right top @panel-wine; overflow:hidden; color:#FFF }
	.panel-default:nth-child(even) .panel-heading{background:url('./images/bg-faq-2.png') no-repeat top right #FFF; overflow:hidden; color:@bk-our-team}
	
	.panel-default .panel-title a{ display:block; width:100%; color:#fff;font-size:1.8em; background:url('./images/more-1.png') no-repeat 0% 50%; padding-left:40px; text-decoration:none}
	.panel-default:nth-child(even) .panel-title a{ color:@bk-our-team;background:url('./images/more-2.png') no-repeat 0% 50%;}
}

@media (max-width: 767px){

    .sin-faqs{




    }
}
