/*-------------------------------------------------------------------------
 * Autor: German Mendoza
 * correo: german.mendoza.187@gmail.com
 * Fecha de publicación: 14/01/2015
 * Version: 1.0
 * Copyright: German Mendoza, en caso de distribución colocar mis referencias
 * Descripcion: Colores para la página
 *
 *   DEPENDENCIAS
 *  - bootstrap.css
 *  - colors.less
 *
 *-------------------------------------------------------------------------*/
.sin-sec-header h1 {
  font-size: 1.500em;
  color: #943a4a;
  margin-top: 30px;
  margin-bottom: 0px;
}
.sin-sec-header ol {
  background-color: transparent;
  padding: 8px 2px;
}
.sin-sec-header ol li {
  font-size: 0.688em;
}
.sin-sec-header button {
  background-color: transparent;
  background: transparent;
  border: 0px;
  font-family: 'Arial Rounded MT Bold';
  height: 60px;
  width: 60px;
  color: #9a9a9a;
}
.sin-sec-header sup {
  vertical-align: super;
  font-size: smaller;
}
.sin-sec-header .btn-group {
  margin-top: 20px;
  float: right;
}
.sin-sec-header .sin-sm {
  padding: 20px;
  font-size: 15px;
  border-right: 1px solid;
}
.sin-sec-header .sin-bg {
  padding: 20px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .sin-sec-header h1 {
    font-size: 1.063em;
    margin-top: 15px;
  }
  .sin-sec-header ol {
    padding: 8px 2px;
  }
  .sin-sec-header ol li {
    font-size: 0.563em;
  }
  .sin-sec-header button {
    height: 25px;
    width: 25px;
  }
  .sin-sec-header .btn-group {
    margin-top: 20px;
    float: right;
  }
  .sin-sec-header .sin-sm {
    padding: 20px;
    font-size: 15px;
    border-right: 1px solid;
  }
  .sin-sec-header .sin-bg {
    padding: 20px;
    font-size: 18px;
  }
}
.owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}
h1 {
  font-family: 'Arial Rounded MT Bold';
}
.sin-container {
  font-size: 17px;
}
.pointed {
  color: #deacac !important;
}
a.navbar-brand {
  height: auto;
  padding: 0px;
  padding-top: 10px;
  margin-left: 15px !important;
}
a.navbar-brand img {
  height: 100px;
}
.navbar {
  margin-bottom: 0px;
}
.well {
  background: white;
  border: 0px;
}
.sinchi-pre-nav li > a {
  font-size: 9px;
  color: #7b7b7b;
  padding-bottom: 0px;
  padding-top: 0px;
}
.sinchi-pre-nav li:nth-child(-n+4) {
  border-right: 1px solid;
  border-color: #a3a3a3;
}
.sinchi-pre-nav li:nth-child(-n+9):not( :nth-child(-n+4)) {
  margin-right: 5px;
}
.sinchi-pre-nav li:nth-child(-n+9):not( :nth-child(-n+4)) a {
  padding: 0px;
  margin: 0px;
}
.sinchi-pre-nav li:nth-child(10) {
  margin-right: 30px;
}
.sinchi-pre-nav li:nth-child(10) a {
  padding: 0px;
  margin: 0px;
}
.sinchi-pre-nav li {
  margin-top: 40px;
  margin-bottom: 20px;
}
.sinchi-pre-nav li > a > img {
  height: 20px;
  width: 20px;
}
.sinchi-pre-nav form {
  margin-top: 38px;
  margin-left: 40px;
  margin-right: 30px;
  font-size: 13px;
  color: #7b7b7b;
}
.sinchi-pre-nav form input {
  height: 25px;
  width: 70px;
}
.sinchi-nav-bar {
  padding-bottom: 8px;
  background-color: #888888;
}
.sinchi-nav-bar li a.dropdown-toggle {
  background-color: #943a4a;
  color: #ffffff;
  font-size: 10px;
  font-family: 'Arial Rounded MT Bold';
}
.sinchi-nav-bar li a.dropdown-toggle .active,
.sinchi-nav-bar li a.dropdown-toggle .hover {
  color: #943a4a !important;
}
.sinchi-nav-bar li a.dropdown-toggle:hover {
  color: #ffffff;
  background-color: #888888;
}
.sinchi-nav-bar li a.dropdown-toggle:active {
  color: #ffffff;
  background-color: #888888;
}
.navbar-collapse > ul.sinchi-nav-bar > li.active > a {
  color: #ffffff;
  background-color: #888888;
  background-image: none;
  font-size: 11px;
  font-family: 'Arial Rounded MT Bold';
}
.sinchi-poligono {
  position: absolute;
  top: 50px;
}
.sinchi-poligono .sin-cnt-pol {
  position: absolute;
}
.sinchi-poligono h1 {
  color: #ffffff;
  font-size: 20px;
  width: 206px;
  text-align: center;
  margin-top: 60px;
  margin-left: 50px;
}
.sinchi-poligono h2 {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  width: 190px;
  text-align: center;
  margin-top: 15px;
  margin-left: 65px;
}
.sinchi-poligono a {
  display: block;
}
.sinchi-poligono a.sin-arrow-down {
  margin-left: 146px;
}
.sinchi-poligono a.sin-arrow-down img {
  width: 15px;
  height: 15px;
}
.sinchi-poligono a.sin-longo-carousel {
  margin-left: 126px;
  margin-top: 50px;
}
.sin-cnt-home .carousel-indicators {
  width: 20px;
}
.sin-cnt-home .carousel-indicators .active {
  background-color: #deacac;
  border-color: #deacac;
}
.sin-cnt-home .carousel-indicators > li {
  background-color: #888888;
  border-color: #888888;
  display: block;
}
.sin-blue > .panel > .panel-heading,
.sin-blue > .panel > .panel-body {
  background-color: #0082a2 !important;
}
.sin-gray > .panel > .panel-heading,
.sin-gray > .panel > .panel-body {
  background-color: #787979 !important;
}
.sin-moutarde > .row,
.sin-moutarde > .panel,
.sin-moutarde > .panel > .panel-heading,
.sin-moutarde > .panel > .panel-body {
  background-color: #888604 !important;
  background-image: none !important;
}
.sin-wine > .row,
.sin-wine > .panel,
.sin-wine > .panel > .panel-heading,
.sin-wine > .panel > .panel-body {
  background-color: #943a4a !important;
  background-image: none !important;
}
.sin-purple > .panel,
.sin-purple > .panel > .panel-heading,
.sin-purple > .panel > .panel-body {
  background-color: #665c76 !important;
  background-image: none !important;
}
.panel p {
  color: #ffffff;
  line-height: 1;
}
.panel .sin-first-parg {
  font-size: 13px;
  margin-bottom: 0px;
}
.panel .sin-first-parg img {
  width: 7px !important;
  height: 7px !important;
  margin-top: 0px !important;
  float: right;
}
.panel .sin-second-parg {
  font-size: 12px;
  margin-bottom: 0px;
}
.panel .sin-third-parg {
  font-size: 11px;
  margin-bottom: 20px;
}
.panel .sin-fourth-parg {
  font-size: 10px;
  word-wrap: break-word;
}
.panel .sin-fourth-parg img {
  width: 7px;
  height: 7px;
  float: right;
}
.panel-heading {
  border-bottom: 0px;
}
.panel-default > .sin-head-pnl {
  background-image: url('images/patron_header.png') !important;
  background-repeat: repeat;
}
.panel-default > .sin-head-pnl h1 {
  color: #ffffff;
  width: 140px;
  height: 55px;
  font-size: 18px;
  margin: 0px;
  font-weight: bold;
}
.panel-default > .sin-head-pnl img {
  margin-left: 20px;
  margin-top: 31px;
}
.sin-coop > .panel-heading h1 {
  margin-top: 20px;
  height: 35px;
}
.sin-coop > .panel-body img {
  margin-top: 35px;
  height: 70px;
  width: 70px;
  margin-left: -10px;
}
.sin-coop > .panel-body .sin-magazines {
  background-color: white;
  padding-bottom: 35px;
}
.sin-edit > .panel h1 {
  color: #7b7b7b !important;
  width: 200px !important;
  font-size: 14px !important;
}
.sin-edit > .panel p {
  color: #7b7b7b;
}
.sin-edit > .panel img.sin-book {
  margin-top: 4px !important;
  width: 70px !important;
  height: 110px !important;
}
.sin-edit > .panel img.sin-mag-title {
  margin-top: 4px !important;
  width: 220px !important;
  height: 35px !important;
}
.sin-edit > .panel img {
  margin-top: 100px !important;
  width: 7px !important;
  height: 7px !important;
}
.sin-edit > .panel .sin-first-parg {
  margin-top: 10px;
}
.sin-edit > .panel .sin-second-parg {
  color: black;
}
.sin-xsml-pnl h1 {
  width: 75px !important;
}
.sin-xsml-pnl img {
  margin-bottom: 14px;
}
.sin-mid-pnl > .panel > .panel-body {
  height: 170px;
}
.sin-small-pnl > .panel {
  height: 120px;
}
.sin-small-pnl > .panel h1 {
  color: #ffffff;
  font-size: 19px;
}
.sin-small-pnl > .panel img.sin-logo {
  margin-top: 12px;
  height: 95px;
  width: 75px;
}
.sin-small-pnl > .panel a > img {
  margin-top: 75px;
  height: 30px;
  width: 30px;
}
.sin-small-pnl > .panel ul > li > a {
  color: #ffffff;
  font-size: 18px;
  font-style: none;
}
.sin-small-pnl > .panel ul > li > a:hover {
  text-decoration: none;
}
.sin-small-pnl > .panel ul {
  list-style: none;
}
.alies {
  border-top: 1px #e7e7e7 solid;
  border-bottom: 1px #e7e7e7 solid;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.alies h1 {
  margin-left: 25px;
  font-size: 22px;
  color: #7b7b7b;
}
.alies img.sin-aly-sml {
  height: 50px;
  width: 50px;
}
.alies img.sin-aly-siac {
  height: 50px;
}
.alies img.sin-aly-minam {
  height: 50px;
}
.sin-first-footer {
  background-color: #555555;
}
.sin-first-footer h1 {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 35px;
  padding-bottom: 10px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  background-image: url('images/patron_header_pre_footer.png') !important;
  background-repeat: repeat;
  height: 44px;
}
.sin-first-footer ul {
  list-style-type: none;
}
.sin-first-footer ul > li {
  font-size: 12px;
  line-height: 2;
}
.sin-first-footer ul > li > a,
.sin-first-footer ul > li > a:hover {
  color: #ffffff;
  text-decoration: none;
}
.sin-second-footer {
  background: #373636;
  padding-top: 20px;
}
.sin-second-footer p {
  margin-left: 45px;
  color: #ffffff;
}
.sin-second-footer span {
  color: #deacac;
}
.sin-our-team-thumb h3 {
  font-size: 1.125em;
  margin-bottom: 1px;
  color: #ffffff;
}
.sin-our-team-thumb h4 {
  font-size: 0.938em;
  margin-top: 0px;
  color: #dfd5f3;
}
.sin-our-team-thumb h5 {
  font-size: 0.750em;
  margin-bottom: 5px;
  color: #dfd5f3;
}
.sin-our-team-thumb .thumbnail {
  background-color: #888888;
  height: 750px;
}
.sin-our-team-thumb .caption {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.sin-our-team-thumb .sin-text-bio {
  padding-left: 40px;
  padding-right: 40px;
  height: 225px;
  overflow: hidden;
  margin-top: 20px;
  color: #ffffff;
  font-size: 0.750em;
}
.sin-our-team-thumb .sin-pattern-ourteam {
  position: relative;
  bottom: -22px;
  height: 40px;
  background-image: url('images/patron_our_team.png');
  background-repeat: repeat;
  width: 102%;
  left: -4px;
}
.sin-our-team-thumb .owlTeam img {
  width: auto !important;
  display: inline-block !important;
}
.sin-our-team-thumb .owlTeam {
  position: relative;
}
.sin-our-team-thumb .owlTeam .owl-nav {
  position: absolute;
  top: 40%;
  display: block !important;
  height: 0px;
  z-index: 1000;
  width: 100%;
}
.sin-our-team-thumb .owlTeam .owl-prev {
  position: absolute;
  left: -6%;
  top: 0;
  background: url('images/slide_prev.png');
  font-size: 1px !important;
  text-indent: -500;
  width: 34px;
  height: 37px;
  margin: 0 !important;
  padding: 0 !important;
}
.sin-our-team-thumb .owlTeam .owl-next {
  position: absolute;
  right: -6%;
  top: 0;
  background: url('images/slide_next.png');
  font-size: 1px !important;
  text-indent: -500;
  width: 34px;
  height: 37px;
  margin: 0 !important;
  padding: 0 !important;
}
.sin-our-team-thumb .scrollbar1 {
  position: relative;
}
.sin-our-team-thumb .scrollbar1 .viewport {
  height: 225px;
  overflow: hidden;
  position: relative;
}
.sin-our-team-thumb .scrollbar1 .overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
.sin-our-team-thumb .scrollbar1 .scrollbar {
  background: transparent url(images/bg-scrollbar-track-y.png) no-repeat 0 0;
  position: absolute;
  background-position: 0 0;
  right: -20px;
  top: 0;
  width: 15px;
}
.sin-our-team-thumb .scrollbar1 .track {
  background: transparent url(images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;
  height: 100%;
  width: 13px;
  position: relative;
  padding: 0 1px;
}
.sin-our-team-thumb .scrollbar1 .thumb {
  background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
  height: 20px;
  width: 25px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -5px;
}
.sin-our-team-thumb .scrollbar1 .thumb .end {
  background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
  overflow: hidden;
  height: 5px;
  width: 25px;
}
.sin-our-team-thumb .scrollbar1 .disable {
  display: none;
}
.sin-our-team-thumb .noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.sin-our-team-thumb img.sin-peo {
  width: auto !important;
  display: block !important;
}
@media (max-width: 767px) {
  .sin-our-team-thumb img.sin-peo {
    height: 300px;
  }
  .sin-our-team-thumb h3 {
    font-size: 0.750em;
  }
  .sin-our-team-thumb h4 {
    font-size: 0.688em;
  }
  .sin-our-team-thumb h5 {
    font-size: 0.625em;
    margin-bottom: 2px;
  }
  .sin-our-team-thumb .thumbnail {
    height: 650px;
  }
  .sin-our-team-thumb .caption {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sin-our-team-thumb .sin-text-bio {
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
  }
  .sin-our-team-thumb .sin-text-bio p {
    font-size: 0.688em;
  }
  .sin-our-team-thumb .sin-pattern-ourteam {
    bottom: -11px;
    left: -2px;
  }
}
.sin-cnt-news .thumbnail {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
.sin-cnt-news img.sin-peo {
  width: 100% !important;
}
.sin-cnt-news .caption {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  background-color: #943a4a;
  height: 115px;
  background-image: url('images/patron_news.png');
  background-repeat: repeat;
}
.sin-cnt-news .caption h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 0px;
  font-size: 1.063em;
  font-family: 'Arial Rounded MT Bold';
  color: #ffffff;
}
.sin-cnt-news .caption h4 {
  font-size: 0.625em;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #ffffff;
}
.sin-cnt-news .sin-new {
  padding: 30px;
  font-size: 0.813em;
  color: #a4adad;
}
.sin-cnt-news .sin-new a.sin-see-more {
  float: right;
  color: #a4adad;
}
.sin-cnt-news .sin-new a.sin-see-more img {
  float: right;
  margin-top: 5px;
  margin-left: 8px;
}
.sin-cnt-old-news {
  border-left: 1px solid;
  padding-left: 30px;
  margin-bottom: 30px;
  border-color: #a4adad;
}
.sin-cnt-old-news h1 {
  color: #943a4a;
  font-size: 1.500em;
}
.sin-cnt-old-news h4 {
  font-size: 0.688em;
  margin-top: 0px;
  margin-bottom: 20px;
}
.sin-cnt-old-news h4 > a {
  color: #a4adad !important;
}
.sin-cnt-old-news .row {
  border-bottom: 1px solid;
  border-color: #a4adad;
  margin-top: 20px;
}
.sin-cnt-old-news .sin-date {
  width: 50px;
  height: 50px;
  background: #943a4a;
  padding: 10px;
  text-align: center;
  font-size: 0.750em;
  color: #ffffff;
  margin-left: 10px;
}
.sin-cnt-old-news .sin-date span {
  display: block;
}
.sin-cnt-old-news p {
  font-size: 0.625em;
  color: #a4adad;
}
.sin-cnt-old-news a.sin-see-more img {
  width: 10px;
  margin-right: 20px;
  float: right;
}
.sin-cnt-old-news nav {
  text-align: center;
}
.sin-cnt-old-news nav .pagination li > a {
  border: 0px;
}
@media (max-width: 767px) {
  .sin-cnt-old-news {
    border-left: 0px solid;
    padding-left: 0px;
    margin-bottom: 0px;
  }
}
.sin-service h2,
.sin-service h3 {
  font-family: 'Arial Rounded MT Bold';
}
.sin-service h2 {
  font-size: 1.250em;
  margin: 0;
  color: #7b7b7b;
}
.sin-service h3 {
  margin-top: 5px;
  font-size: 0.938em;
  color: #943a4a;
}
.sin-service p {
  font-size: 0.813em;
  color: #a4adad;
}
.sin-service .first-row {
  padding-top: 30px;
  border-top: 1px solid;
}
.sin-service .row {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid;
  border-color: #a4adad;
}
.sin-service img.sin-image {
  width: 100%;
}
.sin-service .sin-pat {
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  height: 100%;
  background-image: url('images/patron_service.png');
  background-repeat: repeat;
  float: right;
}
@media (max-width: 767px) {
  .sin-service h2 {
    margin-top: 10px;
  }
}
.sin-new h1 {
  color: #00a4c5;
  font-size: 1.313em;
  margin-bottom: 30px;
}
.sin-new h3 {
  color: #00a4c5;
  font-size: 0.813em;
  margin-bottom: 0px;
  margin-top: 0px;
}
.sin-new .sin-text {
  border-top: 1px solid;
  padding-top: 40px;
  margin-top: 5px;
  margin-bottom: 50px;
  border-color: #a4adad;
}
.sin-new p {
  font-size: 0.938em;
  color: #a4adad;
  margin-bottom: 15px;
}
.sin-new .carousel {
  padding-top: 50px;
  border-top: 1px solid;
  margin-top: 5px;
  border-color: #a4adad;
}
.sin-new .carousel-inner img {
  width: 100%;
}
.sin-new .carousel-caption {
  left: 0;
  right: 0;
  margin: 0;
  bottom: 0;
  padding-bottom: 56px;
  width: 100%;
  background: #00a4c5;
  height: 150px;
}
.sin-new .carousel-caption p {
  height: 90px;
  overflow: hidden;
  font-size: 0.813em;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
}
.sin-new .carousel-caption .sin-pat {
  height: 50px;
  width: 100%;
  background-image: url('images/patron_new.png');
  background-repeat: repeat;
  position: absolute;
  top: -50;
}
.sin-new .carousel-indicators {
  bottom: 5px;
}
@media (max-width: 767px) {
  .sin-new .carousel-caption p {
    font-size: 0.625em;
  }
}
<<<<<<< HEAD
.sin-publication h1 {
  width: 550px;
  font-size: 1.765em;
  color: #ffffff;
}
.sin-publication h2,
.sin-publication h3 {
  color: #6d657d;
}
.sin-publication h2 {
  font-size: 1.063em;
}
.sin-publication h3 {
  font-size: 0.875em;
  margin: 0px;
}
.sin-publication p {
  font-size: 0.813em;
  margin: 0;
  color: #a4adad;
}
.sin-publication .sin-pub-row {
  border-top: 1px solid;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px solid;
  margin-bottom: 50px;
}
.sin-publication .sin-pub-firts-row {
  margin-bottom: 30px;
}
.sin-publication .sin-pub-links {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sin-publication .sin-pub-links a {
  display: block;
  font-size: 0.938em;
  color: #a4adad;
}
.sin-publication .sin-pub-links a img {
  width: 10px;
  height: 10px;
}
.sin-publication .sin-cnt-pub {
  width: auto;
  height: 100%;
  border: 1px solid;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-color: #9a9a9a;
}
.sin-publication .sin-cnt-rigth {
  background: #9a9a9a;
  height: 100%;
}
.sin-publication .sin-cnt-rigth p {
  padding-bottom: 20px;
  color: #ffffff;
}
.sin-publication .sin-pub-images {
  text-align: center;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .sin-publication h1 {
    width: auto;
  }
  .sin-publication .sin-cnt-rigth {
    height: auto;
  }
  .sin-publication .sin-cnt-pub {
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .sin-publication .sin-pub-images {
    margin-top: 50px;
  }
  .sin-publication .sin-pub-row {
    margin-right: 0px;
    margin-left: 0px;
=======
.sin-links h2,
.sin-links h3 {
  font-family: 'Arial Rounded MT Bold';
}
.sin-links h2 {
  font-size: 1.250em;
  margin: 0;
  color: #7b7b7b;
}
.sin-links h3 {
  margin-top: 5px;
  font-size: 0.938em;
  color: #943a4a;
}
.sin-links p {
  font-size: 0.813em;
  color: #a4adad;
}
.sin-links .first-row {
  padding-top: 30px;
  border-top: 1px solid;
}
.sin-links .row {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid;
  border-color: #a4adad;
}
.sin-links .website-link {
  background: url('images/arrow_right_red.png') no-repeat 100% 50%;
  color: #943a4a;
  padding-right: 1.5em;
}
.sin-links .link-txt {
  padding-top: 10px;
  color: #9a9a9a;
}
@media (max-width: 767px) {
  .sin-links h2 {
    margin-top: 10px;
  }
}
.sin-publicaciones h3 {
  font-size: 1.125em;
  margin-bottom: 1px;
  color: #ffffff;
}
.sin-publicaciones h4 {
  font-size: 0.938em;
  margin-top: 0px;
  color: #dfd5f3;
}
.sin-publicaciones h5 {
  font-size: 0.750em;
  margin-bottom: 5px;
  color: #dfd5f3;
}
.sin-publicaciones .thumbnail {
  background-color: #888888;
  height: 750px;
}
.sin-publicaciones .caption {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.sin-publicaciones .sin-text-bio {
  padding-left: 40px;
  padding-right: 40px;
  height: 225px;
  overflow: hidden;
  margin-top: 20px;
  color: #ffffff;
  font-size: 0.750em;
}
.sin-publicaciones .sin-pattern-ourteam {
  position: relative;
  bottom: -22px;
  height: 40px;
  background-image: url('images/patron_our_team.png');
  background-repeat: repeat;
  width: 102%;
  left: -4px;
}
.sin-publicaciones .owlTeam img {
  width: auto !important;
  display: inline-block !important;
}
.sin-publicaciones .owlTeam {
  position: relative;
}
.sin-publicaciones .owlTeam .owl-nav {
  position: absolute;
  top: 40%;
  display: block !important;
  height: 0px;
  z-index: 1000;
  width: 100%;
}
.sin-publicaciones .owlTeam .owl-prev {
  position: absolute;
  left: -6%;
  top: 0;
  background: url('images/slide_prev.png');
  font-size: 1px !important;
  text-indent: -500;
  width: 34px;
  height: 37px;
  margin: 0 !important;
  padding: 0 !important;
}
.sin-publicaciones .owlTeam .owl-next {
  position: absolute;
  right: -6%;
  top: 0;
  background: url('images/slide_next.png');
  font-size: 1px !important;
  text-indent: -500;
  width: 34px;
  height: 37px;
  margin: 0 !important;
  padding: 0 !important;
}
.sin-publicaciones .scrollbar1 {
  position: relative;
}
.sin-publicaciones .scrollbar1 .viewport {
  height: 225px;
  overflow: hidden;
  position: relative;
}
.sin-publicaciones .scrollbar1 .overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
.sin-publicaciones .scrollbar1 .scrollbar {
  background: transparent url(images/bg-scrollbar-track-y.png) no-repeat 0 0;
  position: absolute;
  background-position: 0 0;
  right: -20px;
  top: 0;
  width: 15px;
}
.sin-publicaciones .scrollbar1 .track {
  background: transparent url(images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;
  height: 100%;
  width: 13px;
  position: relative;
  padding: 0 1px;
}
.sin-publicaciones .scrollbar1 .thumb {
  background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
  height: 20px;
  width: 25px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -5px;
}
.sin-publicaciones .scrollbar1 .thumb .end {
  background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
  overflow: hidden;
  height: 5px;
  width: 25px;
}
.sin-publicaciones .scrollbar1 .disable {
  display: none;
}
.sin-publicaciones .noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.sin-publicaciones img.sin-peo {
  width: auto !important;
  display: block !important;
}
@media (max-width: 767px) {
  .sin-our-team-thumb img.sin-peo {
    height: 300px;
  }
  .sin-our-team-thumb h3 {
    font-size: 0.750em;
  }
  .sin-our-team-thumb h4 {
    font-size: 0.688em;
  }
  .sin-our-team-thumb h5 {
    font-size: 0.625em;
    margin-bottom: 2px;
  }
  .sin-our-team-thumb .thumbnail {
    height: 650px;
  }
  .sin-our-team-thumb .caption {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sin-our-team-thumb .sin-text-bio {
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
  }
  .sin-our-team-thumb .sin-text-bio p {
    font-size: 0.688em;
  }
  .sin-our-team-thumb .sin-pattern-ourteam {
    bottom: -11px;
    left: -2px;
>>>>>>> d61a6b7ee7b22f15a59adfe176e7d12f91c7c84e
  }
}
@media (max-width: 767px) {
  .sinchi-pre-nav li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .sinchi-pre-nav li > a {
    font-size: 11px;
  }
  .sinchi-pre-nav li:nth-child(-n+4) {
    border-right: 0px solid;
  }
  .sinchi-pre-nav li:nth-child(-n+9):not( :nth-child(-n+4)) {
    float: left;
    margin-right: 5px;
    margin-left: 18px;
  }
  .sinchi-pre-nav li:nth-child(10) {
    margin-left: 18px;
    float: left;
  }
  .sinchi-pre-nav form {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
  }
  .sinchi-pre-nav form input {
    height: 30px;
    width: 100% !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    font-size: 10px;
    color: #ffffff;
  }
  .sin-cnt-home .carousel-indicators {
    margin-left: 45%;
  }
  .alies h1 {
    font-size: 12px;
  }
  .alies img.sin-aly-sml {
    width: 25px;
    height: 25px;
  }
  .alies img.sin-aly-siac {
    height: 25px;
  }
  .alies img.sin-aly-minam {
    height: 25px;
  }
  .sin-mid-pnl > .panel > .panel-body {
    height: auto;
  }
  .panel-default > .sin-head-pnl img {
    margin-left: 10px;
  }
  .sin-coop > .panel-body p {
    margin-left: -18px !important;
  }
  .sin-coop > .panel-body img {
    height: 50px;
    width: 50px;
  }
  .sin-small-pnl > .panel h1 {
    font-size: 17px;
  }
  .sin-small-pnl > .panel img.sin-logo {
    margin-top: 21px;
    height: 80px;
    width: 60px;
  }
  .sin-small-pnl > .panel a > img {
    margin-left: -6px;
  }
  .sin-edit > .panel img.sin-book {
    margin-top: 20px !important;
    width: 55px !important;
    height: 75px !important;
  }
  .sin-edit > .panel h1 {
    width: 170px !important;
    font-size: 12px !important;
  }
  .sin-edit > .panel img.sin-mag-title {
    margin-top: 4px !important;
    width: 170px !important;
    height: 30px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  a.navbar-brand {
    margin-left: 15px !important;
  }
  a.navbar-brand img {
    height: 60px;
  }
  .sinchi-pre-nav li > a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 9px;
  }
  .sinchi-pre-nav li:nth-child(10) {
    margin-left: 0px;
  }
  .sinchi-pre-nav form {
    margin-right: 0px;
    margin-left: 0px;
  }
  .sinchi-pre-nav form span {
    display: none;
  }
  .sinchi-pre-nav form input {
    height: 25px;
    width: 80px !important;
  }
  .sinchi-nav-bar {
    height: 35px;
  }
  ul.sinchi-nav-bar > li.dropdown > a {
    padding: 5px;
    font-size: 10px;
  }
  ul.sinchi-nav-bar > li.active > a {
    padding: 5px;
    font-size: 10px;
  }
  .sin-cnt-home .carousel-indicators {
    margin-left: 330px;
  }
  .sinchi-poligono {
    top: 50px;
  }
  .sinchi-poligono .sin-cnt-pol {
    width: 200px;
    height: 200px;
  }
  .sinchi-poligono h1 {
    font-size: 10px;
    width: 130px;
    margin-top: 48px;
    margin-left: 35px;
  }
  .sinchi-poligono h2 {
    font-size: 10px;
    width: 156px;
    margin-top: 15px;
    margin-left: 22px;
  }
  .sinchi-poligono a.sin-arrow-down {
    margin-left: 90px;
  }
  .sinchi-poligono a.sin-arrow-down img {
    width: 15px;
    height: 15px;
  }
  .sinchi-poligono a.sin-longo-carousel {
    margin-left: 70px;
    margin-top: 50px;
  }
  .sinchi-poligono a.sin-longo-carousel img {
    width: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  a.navbar-brand {
    margin-left: 10px;
  }
  a.navbar-brand img {
    height: 60px;
  }
  .sinchi-pre-nav li > a {
    font-size: 9px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .sinchi-pre-nav li:nth-child(-n+9):not( :nth-child(-n+4)) {
    margin-right: 5px;
  }
  .sinchi-pre-nav li:nth-child(10) {
    margin-right: 20px;
  }
  .sinchi-pre-nav li {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sinchi-pre-nav li > img {
    height: 20px;
    width: 20px;
  }
  .sinchi-pre-nav form {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 13px;
  }
  .sinchi-pre-nav form input {
    height: 25px;
    width: 100px !important;
  }
  ul.sinchi-nav-bar > li.dropdown > a {
    padding: 10px;
    font-size: 9px;
  }
  ul.sinchi-nav-bar > li.active > a {
    padding: 10px;
    font-size: 10px;
  }
  .sin-cnt-home .carousel-indicators {
    margin-left: 440px;
  }
  .panel .sin-first-parg {
    font-size: 11px;
  }
  .sin-coop > .panel-body img {
    margin-top: 54px;
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
  }
  .sin-small-pnl > .panel img.sin-logo {
    margin-top: 30px;
    height: 65;
    width: 55px;
    margin-left: 4px;
  }
  .sin-small-pnl > .panel a > img {
    margin-top: 80px;
    height: 25px;
    width: 25px;
    margin-left: -9px;
  }
  .sin-edit > .panel p {
    font-size: 12px;
  }
  .sin-edit > .panel img.sin-mag-title {
    width: 170px !important;
    height: 30px !important;
  }
  .sin-edit > .panel img.sin-book {
    margin-left: -20px;
  }
  .sin-edit > .panel img.sin-red-arrow {
    margin-left: 3px;
  }
  .sin-first-footer > .sin-foot-title h1 {
    font-size: 16px;
    height: 44px;
    padding-top: 15px;
  }
}
@media (min-width: 1200px) {
  .sinchi-pre-nav li > a {
    font-size: 9px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .sinchi-pre-nav li:nth-child(-n+4) {
    border-right: 1px solid;
    border-color: #a3a3a3;
  }
  .sinchi-pre-nav li:nth-child(-n+9):not( :nth-child(-n+4)) {
    margin-right: 5px;
  }
  .sinchi-pre-nav li:nth-child(10) {
    margin-right: 30px;
  }
  .sinchi-pre-nav li {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .sinchi-pre-nav li > img {
    height: 20px;
    width: 20px;
  }
  .sinchi-pre-nav form {
    margin-top: 38px;
    margin-left: 40px;
    margin-right: 30px;
    font-size: 13px;
  }
  .sinchi-pre-nav form input {
    height: 25px;
    width: 120px !important;
  }
  .sin-cnt-home .carousel-indicators {
    width: 20px;
    margin-left: 540px;
  }
}
